export(rdadou)
export(rdarea)
export(rdatim)
export(rdinar)
export(rdindt)
export(rdinit)
export(rdinlv)
export(rdinne)
export(rdread)
export(rdscha)
export(rdsdou)
export(rdsint)
export(rdslog)
export(rdsrea)
export(rdstim)
export(wrclose)
export(wrinit)
export(wrscha)
useDynLib(swap2r)
